{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "html": "var/infection_report.html",
        "stryker": {
            "report": "/^\\d+\\.\\d+\\.x$/"
        }
    },
    "tmpDir": "var",
    "minMsi": 71,
    "mutators": {
        "@default": true
    },
}
